@import url(https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap);

.footer-style { 
    max-width: 1200px;
    margin:auto;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
    text-align: center;
  p { 
    font-size: 10px;
    text-align: center;
  }
}