@import url(https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap);

.navigation-header {
    font-family: 'Expletus Sans', cursive;
    font-size: 38px;
    color: gold;
    padding: 3px;
    background-color: #18b549;
 }

.navigation_style { 
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin: auto;
    justify-content: center;
    color: black;
    list-style-type: none;
    text-decoration: none;
li {
    font-family: 'Jura', sans-serif;
    font-size: 15px;
    margin: 1px;
    a{ 
        text-decoration: none;
        padding: 9px;
        color: gold;
        background-color: #18b549;

  }
 }
}

a{ 
    text-decoration: none;
    color: black;
}

.navigation_header--style { 
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}
.navigation-background--style { 
    background-image: url("../../../utils/navi.jpg");
    max-width: 1200px;
    height: 150px;
    margin: auto;
    background-size: cover;
}