.Home-page__style { 
    background-image:url("../../utils/XWCUWAEZKNIQDNUP45GIPG3EQM.jpg");
    height: 860px;
    background-size:cover;
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}