@import url(https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap);

.Credit-page__style { 
    background-image:url("https://finuslugi.ru/img/posts/big/8r_5a_jf.jpg");
    margin:auto;
    max-width: 1200px;
    background-size:cover;
 h1{ 
   margin: 0 auto 0 auto;
   font-size: 55px;
 }
}
.Credit-page__Achievements {
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background: linear-gradient(45deg, #00000078, transparent);
}
.Credit-page__Achievements-card {
    font-family: 'Jura', sans-serif;
    color: cornsilk;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%;
 img { 
    margin: 0;
    align-self: center;
    width: 200px;
 } 
}
